<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>自助停车</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" href="./assets/40-ecology.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="apple-touch-icon-precomposed" href="./assets/40-ecology.png">
<link rel="stylesheet" href="./dist/css/sm.css">
<link rel="stylesheet" href="./dist/css/sm-extend.css">
<link rel="stylesheet" href="./assets/css/demos.css">
<script src="./assets/js/zepto.js"></script>
<script src="./assets/js/config.js"></script>

<script type="text/javascript"
	src="http://api.map.baidu.com/api?v=2.0&ak=YG2qOChqGUaaQoPb4kPqst8SnEFAoz1l"></script>
<script type="text/javascript"
	src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
<link rel="stylesheet"
	href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />

<script src="./assets/js/vue/vue.min.js"></script>
<script src="./assets/js/vue/vue-resource.min.js"></script>

<style type="text/css">
html {
	height: 100%
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px
}

#container {
	height: 100%;
}

.jiaobiao {
	z-index: 1001;
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 50px;
	height: 50px;
}

#parkInfo {
	z-index: 1000;
	position: absolute;
	top: 0px;
	width: 100%;
}

#scanBtn {
	overflow: hidden;
	z-index: 1000;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.centerIcon {
	position: absolute;
	top: 43%;
	left: 43%;
	width: 100px;
	height: 100px;
	z-index: 9999;
}

.tangram-suggestion-main {
	z-index: 2000;
}
</style>
<script>

</script>

</head>
<body>

	<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
	<div class="page-group">
		<!-- index ,第一个.page默认被展示-->
		<div class="page">
			<!-- 标题栏 -->
			<header class="bar bar-nav">
				<a class="icon icon-me pull-left" id="openMenu"></a>
				<h1 class="title">自助停车</h1>
				<a class="icon icon-refresh pull-right"
					href="javascript:window.location.reload();"></a>
			</header>

			<!-- 工具栏 -->
			<nav class="bar bar-tab">
				<a class="tab-item  active" href="#"> <span
					class="icon icon-home"></span> <span class="tab-label">首页</span>
				</a> <a class="tab-item " href="./record.html"> <span
					class="icon icon-star"></span> <span class="tab-label">记录</span>
				</a> <a class="tab-item " href="./myset.html"> <span
					class="icon icon-settings"></span> <span class="tab-label">设置</span>
				</a>
			</nav>
			<div class="bar bar-header-secondary">
				<div class="searchbar">
					<div class="search-input">
						<label class="icon icon-search" for="search"></label> <input
							type="search" id='search' placeholder='请输入您想去的地址...' />
					</div>
				</div>
			</div>
			<!-- 这里是页面内容区 -->
			<div class="content native-scroll" id="pageContentId">

				<div v-show="null!=parkInfo.carPortNo" class="list-block"
					id="parkInfo" onclick="scan('stop')"
					v-on:click="getStopParkInfo(parkInfo)">
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title" style="color: red;">点击停车记录取车</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">停车场</div>
								<div class="item-after">{{parkInfo.parkName}}</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">停车位</div>
								<div class="item-after">{{parkInfo.carPortNo}}</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">车牌号</div>
								<div class="item-after">{{parkInfo.carNo}}</div>
							</div>
						</li>
					</ul>
				</div>


				<div id="scanBtn" v-show="null==parkInfo.carPortNo">
					<div style="width: 100%;">
						<img src="./assets/image/scan.png" onclick="scan('start')"
							style="width: 70px; height: 70px;" />
						<!-- <span class="tab-label">扫一扫停车</span>   -->
					</div>
				</div>
				<div class="jiaobiao">
					<img src="./assets/image/location.png"
						style="width: 40px; height: 40px;" onclick="startLocation()" />
				</div>
			</div>
			<div id="container"></div>

			<div class="centerIcon">
				<img alt="" src="./assets/image/center.png">
			</div>

		</div>

		<div class="popup popup-sure"
			style="display: block; margin-top: 10rem;" id="sureDivID">
			<div class="list-block">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title" style="color: red">请确认停车信息</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">停车开始时间：</div>
							<div class="item-after">{{new Date().pattern("yyyy-MM-dd HH:mm:ss")}}</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">车牌号：</div>
							<div class="item-after">
								<select v-model="carInfo">
									<option v-for="ci in allCarInfo" v-bind:value="ci">
										{{ci.num}}</option>
								</select>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="content-block">
				<div class="row">
					<div class="col-50">
						<a href="#"
							class="button button-big button-fill button-danger close-popup">取消</a>
					</div>
					<div class="col-50">
						<a href="#" class="button button-big button-fill button-success"
							v-on:click="indexVue.startParking(indexVue.code,user,carInfo.id)">提交</a>
					</div>
				</div>
			</div>

		</div>

		<div class="popup popup-services"
			style="display: block; margin-top: 5rem" id="payDivID">
			<div class="list-block">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title" style="color: red">请确认结算信息无误后付款</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">停车开始时间：</div>
							<div class="item-after">{{new
								Date(payInfo.startTime).pattern("yyyy-MM-dd HH:mm:ss") }}</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">停车结束时间：</div>
							<div class="item-after">{{new Date().pattern("yyyy-MM-dd HH:mm:ss")}}</div>
							<!-- {{payInfo.endTime}} -->
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">费用:</div>
							<div class="item-after">{{payInfo.autoFee / 100}}元</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">付款方式:</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title"></div>
							<div class="item-input"> <label for="wxPay"><img alt="" src="./assets/image/wxpay.png"></label></div>
							<div class="item-after"> <input type="radio" value="wxPay" id="wxPay" name="payType" v-model="payType" checked="checked" /></div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title"></div>
							<div class="item-input" ><label for="aliPay"><img alt="" src="./assets/image/alipay.png"></label></div>
							<div class="item-after"><input type="radio" value="aliPay" id="aliPay" name="payType" v-model="payType"/></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="content-block">
				<div class="row">
					<div class="col-50">
						<a href="#"
							class="button button-big button-fill button-danger close-popup">取消</a>
					</div>
					<div class="col-50">
						<a href="#" class="button button-big button-fill button-success"
							v-on:click="wxPay">确定付款</a>
					</div>
				</div>
			</div>

		</div>


		<!-- popup, panel 等放在这里 -->
		<div class="panel-overlay"></div>
		<!-- Left Panel with Reveal effect -->
		<div class="panel panel-left panel-reveal" id="menuPanel">
			<iframe name="toppage" width=100% height=100% marginwidth=0
				marginheight=0 frameborder="no" border="0" src="menu.html"></iframe>
		</div>

		<script src="./dist/js/common.js"></script>
		<script src="./dist/js/sm.js"></script>
		<script src="./dist/js/sm-extend.js"></script>
		<script src="./dist/js/sm-city-picker.js"></script>
		<script src="./assets/js/demos.js"></script>
		<script type="text/javascript">
		var map = new BMap.Map("container"); // 创建地图实例
		var locationPoint = new BMap.Point(116.404, 39.915); // 创建点坐标
		map.centerAndZoom(locationPoint, 15); // 初始化地图，设置中心点坐标和地图级别
		map.enableScrollWheelZoom();
		map.enableContinuousZoom(); 
		var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
				{"input" : "search"
				,"location" : map
		});
		
		var myValue;
		ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
			$("#search").blur();
			var _value = e.item.value;
			myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
			setPlace();
		});
		
		function setPlace(){
			function myFun(){
				var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
				map.centerAndZoom(pp, 15);
				
				centerEvent();
			}
			var local = new BMap.LocalSearch(map, { //智能搜索
			  onSearchComplete: myFun
			});
			local.search(myValue);
		}
		
		
		var carIcon = new BMap.Icon("./assets/image/car.png", new BMap.Size(48,48));
		var pIcon = new BMap.Icon("./assets/image/park.png", new BMap.Size(32,32));

		var scanSin = "start";
		
		var user = getCookie("user");

		var timer;
		map.addEventListener("dragend",function(){
			if(null!=timer){
				clearTimeout(timer);
			}
			timer = setTimeout(function () {
				centerEvent();
  			}, 4000);
		});
		
		function centerEvent(){
	 		map.clearOverlays(); //清除全部标记
	 	    var marker = new BMap.Marker(locationPoint);  // 创建标注
            marker.setTop(true);
			map.addOverlay(marker); //添加定位标记
			
			indexVue.getNearbyParks(map.getCenter()); //添加停车场标记
		}
		
		function addMarker(pinfo){
			var parkPoint =  new BMap.Point(pinfo.lng, pinfo.lat)
			var mk = new BMap.Marker(parkPoint,{icon:pIcon});
			map.addOverlay(mk)
			mk.setAnimation(BMAP_ANIMATION_BOUNCE);

			var content = pinfo.parkName+"</br>空闲："+pinfo.freeNumber+"个";
			var label = new BMap.Label(content,{offset:new BMap.Size(20,-10)});
			mk.setLabel(label);
			
			var parkInfoContent = "共"+pinfo.number+"车位;</br>空闲"+pinfo.freeNumber+"个";
			
			var windowContent = "<div class='list-block'>"+
		    "<ul>"+
		     "<li class='item-content'>"+
		        "<div class='item-inner'>"+
		          "<div class='item-title'>"+parkInfoContent+"</div>"+
		          "<div class='item-title'><a href='javascript:void(0)' class='button' onclick='startNavigation("+pinfo.lng+","+pinfo.lat+")'>导航</a></div>"+
		        "</div>"+
		      "</li>"+
		    "</ul>"+
		  "</div>";
			
			var searchInfoWindow3 = new BMapLib.SearchInfoWindow(map, windowContent, {
				title: pinfo.parkName, //标题
				width: 290, //宽度
				//height: 100, //高度
				panel : "panel", //检索结果面板
				enableAutoPan : true, //自动平移
				searchTypes :[
				]
			});
		
			mk.addEventListener("click", function(e){
				searchInfoWindow3.open(parkPoint);
			});
			label.addEventListener("click", function(e){
				searchInfoWindow3.open(parkPoint);
			});
			
		}

		<!--调用java-->
        function startLocation(){
        	locationLink.startLocation();
        }
        
    	function scan(scanSin){
    		if(getUser()){
    			this.scanSin = scanSin;
        		locationLink.scan();
    		}
    	}
    	function startNavigation(lng,lat){
    		locationLink.startNavigation(lng,lat);	
    	} 
		<!-- java 调用 -->
        function getLocation(lng,lat){
        	locationPoint = new BMap.Point(lng, lat);
        	map.panTo(locationPoint,true);
        	
            map.clearOverlays();//清除全部标记
           
            var marker = new BMap.Marker(locationPoint);  // 创建标注
            marker.setTop(true);
			map.addOverlay(marker);  //添加车辆标记
			
			indexVue.getNearbyParks(locationPoint);//添加停车场标记
			
        }
	    function getParkinginfo(code){
	    	if('start'== this.scanSin){
	    		indexVue.code = code;
	    		$.popup('.popup-sure');
	    	}else{
	    		indexVue.stopParking(code,user,indexVue.stopParkInfo.carId);
	    	}
	    }

		var indexVue = new Vue({
		    el:'#pageContentId',
		    data: {
		        code:'',  //二维码code
				parkInfo:{}, //正在停车的信息
				stopParkInfo:{}  //点击取车的信息
		    },
		    methods: {
		    	getNearbyParks: function(point) {
		            this.$http.post(getNearbyParks, {lng:point.lng,lat:point.lat}).then(function(response) {
		            	var resu = response.body;
		            	for(var i=0;i<resu.length;i++){
		                	addMarker(resu[i]);
		                }
		            }, function(response) {
		                // error callback
		            });
		        },
		        startParking: function(code,phone,carId) {
		            this.$http.post(startParking, {code:code,phone:phone,carId:carId}).then(function(response) {
		            	var resu = response.body;
		                if(resu.ok == true){
		                	$.toast("停车成功");
		                	$.closeModal(".popup-sure");
		                	indexVue.getParkingCars(user);	
		                }else{
		                	$.toast(resu.msg);
		                }
		            }, function(response) {
		                // error callback
		            });
		        },
		        stopParking: function(code,phone,carId) {
		            this.$http.post(stopParking, {code:code,phone:phone,carId:carId}).then(function(response) {
		            	var resu = response.body;
		                if(resu.ok == true){
		                	payVue.payInfo = resu;
		                	$.popup('.popup-services');
		                }else{
		                	$.toast(resu.msg);
		                }
		            }, function(response) {
		                // error callback
		            });
		        },
		        getParkingCars: function(phone) {
		        	
		            this.$http.post(getParkingCars, {phone:phone}).then(function(response) {
		            	var resu = response.body;
		            	 if(resu.dcs != null && resu.dcs[0]!=null){
		            		 this.parkInfo = resu.dcs[0];
		            		 this.parkInfo.carPortNo = this.parkInfo.carPortNo +"号车位";
		            	 }else{
		            		 this.parkInfo = {};
		            	 }
		            }, function(response) {
		                // error callback
		            });
		        },
		        getStopParkInfo:function(parkInfo){
		        	this.stopParkInfo = parkInfo;
		        }

		    }
		});

		var payVue = new Vue({
		    el:'#payDivID',
		    data: {
		        payInfo:"",
		        payType:"wxPay"
		    },
			methods: {
				wxPay:function(){
					if("wxPay" == this.payType){
						this.$http.post(wxPay, {orderNo:this.payInfo.orderNo}).then(function(response) {
							var resu = response.body;
							if(resu.ok == true){
								//$.toast("操作成功");
								$.closeModal(".popup-services");
								//indexVue.getParkingCars(user);
								locationLink.pay(resu,"0");
				              }else{
				                $.toast(resu.msg);
				              }
							
						}, function(response) {
			           	
						});
					}
				}
			}
		});
		
		var sureVue = new Vue({
		    el:'#sureDivID',
		    data: {
		    	allCarInfo:{}, //所有车
		        carInfo:{} //选中的需要停的车
		    },
			methods: {
				getCars:function(){
					this.$http.post(getCars, {phone:getCookie("user")}).then(function(response) {
						sureVue.allCarInfo = response.body;
						sureVue.carInfo = this.allCarInfo[0];
		            }, function(response) {
		            
		            });
				}
			}
		});
		
		$(function(){
			if(null != user && "" != user){
				indexVue.getParkingCars(user);
				sureVue.getCars();
			}
			payVue.payInfo.type = "wxPay";
			startLocation();
		});
	</script>
</body>
</html>